# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Models & logs
*.h5
*.pth
results/logs/
results/models/

# OS files
.DS_Store

# Data
data/LIDC-IDRI/
data/*.npy
data/*.npz

# Virtual env
env/
venv/
*.swp

# Sensitive
*.dcm
*.dicom

*.keras
models/**/*.keras

.venv/
processed/
